/* *{
	border: red solid 1px;
} */

*{
	box-sizing: border-box;
}
body{
	min-height: 300px;
	font-family: 'Lato', sans-serif;
	background-color: #fdde7e;
}

.flex_container{
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 25px 70px;
	justify-content: space-between;
}

.items{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 380px;
	background-color: #fff;
	text-align: center;
	border-radius: 6px;
}

.items2{
	height: 580px;
}

 .items h1{
 	margin: 20px 0 20px 0;
	font-size: 70px;
	color: #02995b;
} 

.items h2{
	font-size: 56px;
	color: #333333;
	font-weight: 100;
} 

.items p{
	width: 150px;
	font-size: 20px;
	color: #4e4e4e;
	margin-bottom: 40px;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
